{% macro experienceList(items) %}
<div class="experience-list">
    {% for item in items %}
    <div class="exp-item">
        <span class="exp-num">{{ "0" if loop.index < 10 else "" }}{{ loop.index }}</span>
        <div class="exp-content">
            <div class="exp-head">
                <h3>{{ item.role }}</h3>
                <span class="exp-company">{{ item.company }}</span>
            </div>
            <p>{{ item.description }}</p>
        </div>
        <span class="exp-dates">{{ item.dates }}</span>
    </div>
    {% endfor %}
</div>
{% endmacro %}
