<header class="header" id="header">
    <a href="/" class="header-brand">JEFF .K.<br>HURIA</a>
    <nav class="header-nav">
        <a href="/#about">[ ABOUT ME ]</a>
        <a href="/#experience">[ EXPERIENCE ]</a>
        <a href="/#works">[ WORKS ]</a>
        <a href="/#services">[ SERVICES ]</a>
        <a href="/#connect">[ CONNECT ]</a>
    </nav>
    <a href="/#connect" class="header-cta">CONTACT ME ↗</a>
</header>
