<div class="loader" id="loader" aria-hidden="true">
    <div class="loader-center">
        <div class="loader-perspective">
            <div class="loader-spin" id="loaderSpin">
                <div class="loader-big">
                    <div class="lb-line">CODE <span>THAT</span></div>
                    <div class="lb-line inverted">CONNECTS THE</div>
                    <div class="lb-line">ENTERPRISE</div>
                </div>
                <div class="loader-small">
                    FULL-STACK DEVELOPMENT&nbsp;&nbsp;•&nbsp;&nbsp;ERP INTEGRATIONS&nbsp;&nbsp;•&nbsp;&nbsp;SYSTEM ARCHITECTURE
                </div>
            </div>
        </div>
    </div>
    <div class="loader-counter">
        <span id="loaderPct">0%</span>
    </div>
</div>
